[user]
	email = 6979278+billbatista@users.noreply.github.com
	name = William M. Batista
	
[alias]
	co = checkout
	cob = checkout -b
	pf = !git pull && git fetch --prune
	cm = !git add -A && git commit -m
	save = !git add -A && git commit -m 'chore: commit checkpoint'
	done = !git push --set-upstream origin HEAD
	donef = !git push -f --set-upstream origin HEAD
	del = branch -D
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
	ec = config --global -e
	graph = !git log --graph --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
